<!-- header.html -->
<div id="header">
    <nav>
        <ul>
            <li><a href="/" class="spa-link">Accueil</a></li>
            <li><a href="/game" class="spa-link">Jouer</a></li>
            <li><a href="/register" class="spa-link">S'inscrire</a></li>
            <li><a href="/chat" class="spa-link">Chat</a></li>
        </ul>
        <div id="user-info" style="float: right;">
            <span id="user-display">Non connecté</span>
            <a href="/login" class="spa-link" id="login-link">Connexion</a>
            <button id="logout-btn" style="display: none;">Déconnexion</button>
        </div>
    </nav>
</div>
