<div class="container mt-5">
	<h2>Tournois en Blockchain</h2>

	<div class="mb-4">
		<input type="number" id="tournamentId" class="form-control" placeholder="ID du tournoi">
		<button onclick="searchTournament()" class="btn btn-primary mt-2">Rechercher</button>
	</div>

	<div id="result" class="mt-4">
		<div class="card d-none" id="tournamentCard">
			<div class="card-body">
				<h5 class="card-title" id="tournamentName"></h5>
				<p class="card-text">
					Gagnant: <span id="tournamentWinner"></span><br>
					ID Blockchain: <span id="tournamentBlockchainId"></span>
				</p>
			</div>
		</div>
		<div class="alert alert-danger d-none" id="errorMessage"></div>
	</div>
  </div>
