{% load static %}

<div id="tournamentContainer" data-tournament-id="{{ tournament.id }}">
  <h2>{{ tournament.name }}</h2>
  <ul id="matchList" class="list-group">
    {% for match in matches %}
      <li class="list-group-item">
        Round {{ match.round_number }} :
        {{ match.player1.username }} vs
        {% if match.player2 %}
          {{ match.player2.username }}
        {% else %}
          Bye
        {% endif %}

        {% if tournament.is_active %}
          {% if not match.winner %}
            {% if user.id == match.player1.id or user.id == match.player2.id %}
              <button class="btn btn-success mt-2"
                data-match-id="{{ match.id }}"
                data-tournament-id="{{ tournament.id }}"
                data-player1="{{ match.player1.id }}"
                data-player2="{% if match.player2 %}{{ match.player2.id }}{% endif %}"
                onclick="startMatch(this.dataset.matchId, this.dataset.tournamentId, this)">
                Lancer la partie
              </button>
            {% endif %}
          {% else %}
            (Gagnant : {{ match.winner.username }})
          {% endif %}
        {% else %}
          {# Le tournoi est terminé, on n'affiche que les résultats #}
          {% if match.winner %}
            (Gagnant : {{ match.winner.username }})
          {% else %}
            (Match non joué)
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

<script src="{% static 'js/tournaments.js' %}"></script>
