<!-- account.html-->
 {% load static %}
<div class="menu-account">
    {% if user_profile.id == user.id %} <!-- Je regarde mon compte-->
        <h1 class="menu-title">Mon compte</h1>
        <p><strong>Nom d'utilisateur (username) :</strong> {{ user.username }}</p>
        <p><strong>Email :</strong> {{ user.email }}</p>
        <p><strong>Display name :</strong> {{ user.display_name|default:"(non renseigné)" }}</p>


        <label for="a2f">Activer l'authentification à deux facteurs :</label>
        <input type="checkbox" id="a2f"
            {% if user.is_a2f_enabled %}checked{% endif %}
            onchange="toggleA2F()">
        <span id="a2f-status">
            {% if user.is_a2f_enabled %}Activé{% else %}Désactivé{% endif %}
        </span>
        <br>
        <button id="save-btn" onclick="saveChanges()">Enregistrer</button>
    {% else %}
        <!-- Regarder profil autre user -->
        <h1 class="menu-title">Profil de {{user_profile.username }}</h1>
        <p><strong>Username :</strong> {{ user_profile.username }}</p>
        <p><strong>Display name :</strong> {{ user_profile.display_name|default:"(non renseigné)" }}</p>
        <p><strong>Online :</strong> {{ user_profile.online_status }}</p>

        {% if user_profile.avatar %}
            <img src="{{ user_profile.avatar.url }}" alt="Avatar" width="100" height="100">
        {% endif %}

        <!-- ADD OTHER INFO (stats, tournaments, friends, etc.)-->
    {% endif %}
    <br>
    <p><strong>Played Matches :</strong> {{ user.match_played }}</p>
    <p><strong>Won Matches :</strong> {{ user.wins }}</p>
</div>

<script src="{% static 'js/account.js' %}"></script>
