{% load static %}
<section id="fh5co-hero" class="js-fullheight" 
    style="background-image: url('{% static 'images/background.png' %}');">
    <div class="fh5co-overlay"></div>
    <div class="container">
        <div class="fh5co-intro js-fullheight">
            <h2 class="display-4 fw-bold">Bienvenue sur Proxyjeza</h2>
            <p class="fs-5">Explorez notre application et commencez à jouer à Pong !</p>
        </div>
    </div>
</section>

<section id="fh5co-projects">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="fh5co-lead animate-box">Transcendence Team</h2>
                <p class="fh5co-sub-lead animate-box"> </p>
            </div>
        </div>
        <div class="row justify-content-center gap-4 mt-4">
            <div class="col-md-4 col-sm-6 col-xxs-12 animate-box d-flex flex-column align-items-center">
                <a href="{% static 'images/anporced.jpg' %}" class="fh5co-project-item image-popup">
                    <img src="{% static 'images/anporced.jpg' %}" alt="Image" class="img-responsive">
                    <div class="fh5co-text text-center">
                        <h2>Antoine Porceddu</h2>
                        <p>J’écris du code… parfois il marche.</p>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 col-xxs-12 animate-box d-flex flex-column align-items-center">
                <a href="{% static 'images/tgibert.jpg' %}" class="fh5co-project-item image-popup">
                    <img src="{% static 'images/tgibert.jpg' %}" alt="Image" class="img-responsive">
                    <div class="fh5co-text text-center">
                        <h2>Teddy Gibert</h2>
                        <p>Si ça bug, c’est sûrement pas ma faute.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row justify-content-center gap-4 mt-4"> <!-- mt-4 : espacement vertical entre les 2 -->
            <div class="col-md-4 col-sm-6 col-xxs-12 animate-box d-flex flex-column align-items-center">
                <a href="{% static 'images/mmacia.jpg' %}" class="fh5co-project-item image-popup">
                    <img src="{% static 'images/mmacia.jpg' %}" alt="Image" class="img-responsive">
                    <div class="fh5co-text text-center">
                        <h2>Mathis Macia</h2>
                        <p>J’ai fait semblant de bosser… et ça a marché.</p>
                    </div>
                </a>
            </div>
    
            <div class="col-md-4 col-sm-6 col-xxs-12 animate-box d-flex flex-column align-items-center">
                <a href="{% static 'images/jeguerin.jpg' %}" class="fh5co-project-item image-popup">
                    <img src="{% static 'images/jeguerin.jpg' %}" alt="Image" class="img-responsive">
                    <div class="fh5co-text text-center">
                        <h2>Jézabel Guérin</h2>
                        <p>J’appuie sur F5 et j’espère.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
